@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap'); /* Get Roboto font from Google */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
}

input,
textarea,
button {
    font-family: inherit; /* to make sure font family is inherited and override user agent specified font-family declaration */
}

.text-center {
    text-align: center; /* utility class for horizontally centering text */
}

.flex {
    display: flex; /* utility class for making flex containers */
}

.content {
    max-width: 1050px;
    margin: 0 auto;
}

header {
    padding: 15px 0;
}

header,
footer {
    background-color: #1f2937;
}

.header-content {
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.navigation-links {
    gap: 25px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.hero-section {
    background: #1f2937;
    padding: 100px 0;
}

.column {
    flex: 1;
}

.image-column {
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.4);
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
}

.logo,
.hero-title{
    color: #f9faf8;
}

.hero-title,
.secondary-text {
    margin-right: 11%;
}

.secondary-text {
    margin-bottom: 12.5px;
}

a,
.secondary-text,
.placeholder-text {
    font-size: 18px;
}

a,
.secondary-text,
.placeholder-text,
button,
footer {
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    border: none;
    padding: 6px 30px;
    border-radius: 7.5px;
    font-weight: 700;
    font-size: 16px;
}

.information-section {
    padding: 45px 0 90px 0;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}

.information-title,
.subtext,
.quote p,
.quote span {
    color: #1f2937;
}

.information-cards {
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.card {
    width: 170px;
}

.card .image-placeholder {
    width: 100%;
    min-height: 170px;
    border: 4px solid #3882f6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 100px 0;
}

.quote {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-end; /* to align the span flex item to the far right */
}

.quote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote span {
    font-size: 22px;
    font-weight: 700;
}

.cta-section {
    padding: 90px 0;
}

.cta-content {
    padding: 50px 125px;
    background-color: #3882f6;
    color: #e5e7eb;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 7.5px;
}

.cta-content .text-column {
    flex: 3;
}

.button-column {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.cta-section button {
    border: 2px solid #e5e7eb;
}

footer {
    padding: 40px 0;
}